btn-bg = #eaeff5
row-height = 38px

accordion
  .col-sm-2
    margin-top 2px

  .col-sm-3
    &:first-child
      margin-top 2px

    &:last-child
      text-align right

  .disabled
    color lightgray

  .glyphicon:not(:last-child)
    padding 0 25px 0 0

  .panel
    border none
    border-top 1px solid #ddd
    min-height row-height

    &.open
      box-shadow 0 0 8px rgba(0,0,0,0.2) inset

    a
      &.list-group-item
        height auto
        min-height 100px

      &[tab-heading-transclude]
        border none
        color inherit !important
        background-color inherit

        &:active, &:focus, &:hover
          background-color #849fbc

    h3
      margin-top 0

    h3, h6
      user-select text

    h3:first-child
      margin-bottom 0

    .panel-heading
      background-color inherit
      min-height row-height
      padding 0

      &:hover
        box-shadow rgba(0,0,0,0.2) 0px 2px 5px, inset rgba(0,0,0,0.2) 0px -1px 1px

      .btn-group
        margin-top -1px

      .btn-xs
        line-height 1
        padding 0 3px

      .col-xs-1, .col-xs-2:first-child
        font-size smaller
        padding-top 2px

      .row
        padding 12px 0 0 16px

  .progress.small
    margin-top -2px

  table
    th > button
      width 100%

    .btn
      background-color btn-bg
      border none
      border-right 1px solid #ddd
      border-top 1px solid #ddd
      color #000

      &:active, &:hover, &.active
        background-color darken(btn-bg, 5%)
        border-color darken(btn-bg, 5%)

        span, strong, i
          color #000

          &.text-muted
            color #999

  .panel-title
    font-size 14px !important
