//- Activities view


.activities
  .jumbotron
    border-top 2px solid #fa8d7a
    margin 15px 0
    padding inherit !important

    & > .row
      &:first-child
        padding-top 5px

        h2
          margin 12px 0 0 0

        .row:nth-child(2)
          margin-top -5px

      &:last-child
        padding-bottom 10px

        h6
          margin-top 5px

      & > .col-xs-2
        margin-top 7px

      .col-xs-2
        text-align left

        & > *
          display block
          width 100%

      counter
        font-size 2em
        line-height 1

    hr
      margin 10px 0

  .legend
    margin-bottom 15px

  accordion
    .panel-group
      margin 0

      .panel + .panel:not(.open)
        margin-top inherit !important

    .progress:not(.progress-bar-por-ejercer, .small)
      margin-top 10px

    h4
      strong
        display block
        margin-top 3px

      .small
        font-size 70%

  h3
    margin 0

  h6
    margin-bottom 0
