accordion
  .col-sm-2
    margin-top 2px

  .col-sm-3
    &:first-child
      margin-top 2px

    &:last-child
      text-align right

  .disabled
    color lightgray

  .glyphicon:not(:last-child)
    padding 0 25px 0 0

  .panel
    border none
    border-top 1px solid #ddd
    min-height 33px

    &.open
      box-shadow 0 0 8px rgba(0,0,0,0.2) inset

    a.list-group-item
      height auto
      min-height 100px

    h3, h6
      user-select text
      margin-top 0

    h3:first-child
      margin-bottom 0

    .panel-heading
      background-color inherit
      min-height 33px
      padding 0

      &:hover
        box-shadow rgba(0,0,0,0.2) 0px 2px 5px, inset rgba(0,0,0,0.2) 0px -1px 1px

      .btn-group
        margin-top -1px

      .btn-xs
        line-height 1
        padding 0 3px

      .col-xs-1, .col-xs-2
        font-size smaller

      .col-xs-3
        font-weight bold

      .row
        padding 8px 0 8px 16px

  .panel-title
    font-size 14px !important
