.container:not(.zoomed) .panel-body div:last-child
  & > .nav-tabs
    border none

    .glyphicon
      padding 0 5px 0 0

    & > .active > a
      &, &:hover, &:focus
        border none

    & > li
      font-size 12px
      margin-top -1px
      margin-bottom 0

      &:not(:last-child)
        margin-right 10px!important

      &.btn
        padding 0

.tab-content
  min-height 200px

  & > .tab-pane
    display none

  & > .active
    display block

.tab-pane .row:last-child
  padding-top 10px
