btn-bg = #eaeff5
row-height = 38px

accordion
  .col-sm-2
    margin-top 2px

  .col-sm-3
    &:first-child
      margin-top 2px

    &:last-child
      text-align right

  .disabled
    color lightgray

  .glyphicon:not(:last-child)
    padding 0 25px 0 0

  .panel
    border none
    border-top 1px solid #ddd
    min-height row-height
    transition margin 0.25s ease-in

    &.open
      box-shadow 0 2px 12px rgba(0,0,0,0.1)
      margin 12px 0 !important

    a
      &.list-group-item
        height auto
        min-height 300px

      &[tab-heading-transclude]
        border none
        color inherit !important
        background-color inherit

        &:active, &:focus, &:hover
          background-color #849fbc

    h3
      margin-top 0

    h3, h6
      user-select text

    h3:first-child
      margin-bottom 0

    .panel-heading
      background-color inherit
      min-height row-height
      padding 0
      transition margin 0.25 ease-in

      &:hover
        box-shadow inset 0 0 10px rgba(0,0,0,0.1)

      .btn-group
        margin-top -1px

      .btn-xs
        line-height 1
        padding 0 3px

      .row
        padding 12px 0 0 16px

    .panel-title
      font-size 14px !important

  .panel-group .panel + .panel:not(.open) {
    margin-top: inherit!important;
  }

  .progress
    transition width 0.25s ease-out

    &.init
      width 0

    &.small
      margin-top -2px

  table
    th > button
      width 100%

    .btn
      background-color btn-bg
      border none
      border-right 1px solid #ddd
      border-top 1px solid #ddd
      color #000

      &:active, &:hover, &.active
        background-color darken(btn-bg, 5%)
        border-color darken(btn-bg, 5%)

        i, span, strong
          color #000

          &.text-muted
            color #999
