//- Tweaks related to the full (sandwich) view


.full
  h3.budget
    margin 0 0 15px 0

  h4
    margin 0

  .breadcrumb
    margin 20px 0 15px 0

  .btn-sm
    width 100%

  .calendar
    padding 15px

  .card-title
    h3
      margin 20px 0 0 0

    h6
      margin 0

  .btn-primary, .date-info, h3:not(.budget), h4
    margin-top 15px

  .legend
    margin-bottom 15px

  p
    line-height 1.15
    text-align justify
