accordion
  .col-sm-3:last-child
    text-align right

  .disabled
    color lightgray

  .glyphicon:not(:last-child)
    padding 0 25px 0 0

  .panel-title
    font-size 14px !important

body
  margin 0 auto
  //max-width 960px

  & > hr
    margin 30px 0

.btn-group, .btn-group-vertical
  width: 100%

  .pill
    width 20%

.btn-huge
  width 100%

  i
    font-size 12em
    text-align center

  p
    font-size 2em

.modal-header
  background inherit !important

.nav, .pagination, .carousel, .panel-title a
  cursor pointer

.progress.small
  height 15px !important
  margin-bottom inherit !important
