accordion
  .panel
    box-shadow 0 0 8px rgba(0,0,0,0.2) inset

    h3, h6
      text-transform uppercase
      user-select text

    h3:first-child
      margin-bottom 0

    h6:first-child
      margin-top 0

    .panel-heading
      &:hover
        box-shadow rgba(0,0,0,0.2) 0px 2px 5px, inset rgba(0,0,0,0.2) 0px -1px 1px

      min-height 24px
      padding 2px 2px

      .btn-xs
        float right
        padding 0 6px

  .col-sm-2
    margin-top 2px

  .col-sm-3
    &:first-child
      margin-top 2px

    &:last-child
      text-align right

  .disabled
    color lightgray

  .glyphicon:not(:last-child)
    padding 0 25px 0 0

  .panel-title
    font-size 14px !important


body
  margin 0 auto
  //max-width 960px

  & > hr
    margin 30px 0

  cursor default
  user-select none

.container
  &.expanded .panel-heading
    display none
    visibility hidden

  &:not(.zoomed) .panel-collapse > .panel-body > .ng-isolate-scope
    // hack to place tabs at the bottom
    display flex
    flex-direction column-reverse

    & > *
      flex 0 0 auto


.nav-tabs
  .glyphicon
    padding 0 5px 0 0

  li
    font-size 12px


.btn-group, .btn-group-vertical
  width 100%

  .pill
    width 20%


.btn-huge
  width 100%

  i
    font-size 12em
    text-align center

  p
    font-size 2em


.modal-header
  background inherit !important


.nav, .pagination, .carousel, .panel-title a
  cursor pointer


.progress
  height 15px !important
  padding inherit !important
  border none !important


  &.small
    margin-bottom inherit !important

.zoomed
  .panel-collapse.collapse.in
    height 100% !important
