//- base styling that doesn't quite fit into the main theme

accordion, .modal
  .btn-link
    color #74c0ed
    text-decoration underline
    font-size x-small


accordion
  .panel-group
    margin 0
    
    .panel + .panel:not(.open)
      margin-top inherit !important


body
  line-height inherit

  & > hr
    margin 30px 0

  div[class^=opi]
    background-size contain
    height 20px
    margin-top -4px


i.fa
  margin 0 2px


.card-title
  h3
    margin-top 0

  h6, p
    margin 0


.container
  &.expanded .panel-heading
    display none
    visibility hidden

  &.zoomed
    .panel-collapse.collapse.in
      height 100% !important


.modal .panel > .row
  .col-xs-10, .col-xs-2
    margin 10px 0
