body
  h3, h4, h6
    text-transform uppercase

  & > hr
    margin 30px 0

  cursor default
  //margin 0 auto
  padding-top 85px
  user-select none


.container
  &.expanded .panel-heading
    display none
    visibility hidden

  &.zoomed
    .panel-collapse.collapse.in
      height 100% !important

  &:not(.zoomed) .panel-collapse > .panel-body > .ng-isolate-scope
    // hack to place tabs at the bottom
    display flex
    flex-direction column-reverse

    & > *
      flex 0 0 auto

  .filters
    .col-xs-3
      padding 0

      &:first-child
        padding-left 15px

      &:last-child
        padding-right 15px

    button
      text-align left
      width 100%


.header
  .btn-link.btn-xs
    padding 0

  h6
    font-size smaller

.jumbotron
  padding inherit !important

  & > .row
    & > .col-xs-2
      margin-top 7px

    .col-xs-2, .col-xs-5
      text-align center
      text-transform uppercase

    h3
      margin-top 12px

    span.big
      font-size 2em

.legend
    padding 0 17px

  .col-xs-1
    height 15px !important

  .col-xs-2, .col-xs-5
    font-size x-small

  .comprometido
    background-color blue

  .devengado
    background-color blue

  .pagado
    background-color blue

  .por-ejercer
    background-color blue


.nav, .pagination, .carousel, .panel-title a
  cursor pointer

.order-by
  font-size small
  text-transform uppercase

  .col-xs-2
    padding-left 95px

.progress
  height 19px !important
  border none !important

  .progress-bar
    line-height inherit !important

  &.small
    margin-bottom inherit !important
