accordion
  .btn-link
    color #74c0ed
    text-decoration underline
    font-size x-small

  .panel-group .panel + .panel:not(.open)
    margin-top inherit!important


body
  & > hr
    margin 30px 0

  div[class^=opi]
    background-size contain
    height 20px
    margin-top -4px

  button, h3, h4, h6, tab-heading
    text-transform uppercase

  cursor default
  padding-top 85px
  user-select none


span, strong
  &.small
    font-size smaller

  &.upper
    text-transform uppercase


.card-title
  h3
    margin-top 0

  h6, p
    margin 0


.col-xs-1.progress-bar
  padding-right 0


.container
  &.expanded .panel-heading
    display none
    visibility hidden

  &.zoomed
    .panel-collapse.collapse.in
      height 100% !important


.glyphicon
  padding 0 5px 0 0


.modal
  &.fade
    background-color rgba(0,0,0,0.85)

  .breadcrumb
    display block


.nav, .pagination, .carousel, .panel-title a
  cursor pointer


.navbar-brand
  padding 8px 0


.progress
  height 15px !important
  border none !important
  margin-bottom 0

  .progress-bar
    font-size 12px
    line-height inherit !important

  &.small
    margin-bottom inherit !important
