nav.navbar
  button
    padding-top 5px !important
    padding-bottom 3px !important
/*
  .divider-vertical
    height 45px
    margin 0 9px
    border-right 1px solid #fff
    border-left 1px solid #f2f2f2
*/

  .navbar-inner:not(.normal)
    box-shadow inset #eaeff5 0 -35px 0 0

  .toggle
    background-color #fff
/*
@media (max-width: 767px)
  .navbar-collapse .nav > .divider-vertical
    display none
*/

#nav-settings a
  margin 1px
  padding 9px
