//- media queries

_lg = 1200px
_md = 992px

@media (min-width: _md) and (min-width: _lg)
  div[class^=opi]
    width 24px

  nav.navbar ul:first-child
    padding-left 150px

@media (min-width: _lg)
  div[class^=opi]
    width 32px

  nav.navbar ul:first-child
    padding-left 250px
