// Media queries


_lg = 1200px
_md = 992px


@media (min-width: _md) and (min-width: _lg)
  [class^=opi]
    width 24px

  nav.navbar ul:first-child
    padding-left 150px

  .single.container
    width 1140px

@media (min-width: _lg)
  [class^=opi]
    width 28px

  nav.navbar ul:first-child
    padding-left 250px
