.tab-content
  min-height 200px

  & > .tab-pane
    display none

  & > .active
    display block

.container:not(.zoomed) .panel-body div:last-child
  & > .nav-tabs
    border-bottom 0
    border-top 1px solid #ddd

    & > .active > a
      &, &:hover, &:focus
        border-color transparent #ddd #ddd #ddd

    & > li
      margin-top -1px
      margin-bottom 0

      & > a
        //border-radius 0 0 4px 4px
        padding 2px 10px

        &:hover, &:focus
          border-top-color #ddd
          border-bottom-color transparent
