.container:not(.zoomed) .panel-body div:last-child
  & > .nav-tabs
    border none

    .glyphicon
      padding 0 5px 0 0

    & > .active > a
      &, &:hover, &:focus
        border none

    & > li
      font-size 12px
      margin-top -1px
      margin-bottom 0

      &:not(:last-child)
        margin-right 8px!important

      &.btn
        padding 0

.tab-animation > .tab-content
  position relative

  & > .tab-pane
    transition 0.25s ease-out all

    &.active-add
      margin-top -12px

    &.active-remove-active
      margin-top 12px

    &.active-add, &.active-remove-active
      opacity 0

    &.active-remove
      display block
      position absolute
      top 0
      width 100%

.tab-content
  min-height 300px

  & > .tab-pane
    display none

  & > .active
    display block

  :not(.btn-group) button:not(.btn-link)
    width 100%

.tab-pane .row:last-child
  padding-top 10px
