//- filters, header, orderby, search, etc

.filters
  .col-xs-3
    padding 0

    &:first-child
      padding-left 15px

    &:last-child
      padding-right 15px

  button
    background-color #fff
    border 1px solid #D9E2ED
    color #000
    text-align left
    width 100%

  i.glyphicon
    top 4px


.header
  a
    padding 0

    &.active
      color #74c0ed

    &.wide
      width 100%

  .row
    padding-left 15px

  span
    display block
    padding 9px 0


.header, .order-by
  margin-bottom inherit


.legend
    padding 0 17px

  .col-xs-1
    height 15px !important

    &.progress-bar
      padding-right 0


.order-by
  border-top 2px solid #a5b9ce

  .col-xs-2
    button
      width 50%

    .btn-group
      width 100%

  .row
    padding 7px


.tools
  margin-bottom 15px

  .btn:first-child
    margin-right 10px
