//- Esqueleto de tarjeta

.row
  .col-xs-10
    block title
  
  .col-xs-2
    block action
      button.btn.btn-primary.btn-sm(type='button')
        fa(name='plus-circle')
        | Agregar

.row
  block content
