//- Esqueleto de tarjeta

mixin card-btn(action)
  button.btn.btn-primary.btn-sm(
    ng-click="openModal('#{action}')"
    type='button'
  )
    fa(name='plus-circle')
    span(translate='ADD')

.row
  .col-xs-10
    block title
  
  .col-xs-2
    block action

.row.minh
  block content
