//- Title header (common to all cards)


.row.card-title.upper
  .col-md-6.id-info
    h3 {{a.user_key}}
    h6 {{a.admin1}} / {{a.admin2}} / {{'POLY' | translate}} {{a.polygon}}

  .col-md-3
  .col-md-3.date-info
    p.small
      | {{'CREATED' | translate}} {{a.financial_history.created_at | date}}
      | {{'MODIFIED' | translate}} {{a.financial_history.updated_at | date}}
