//- Title header (common to all cards)

.card
  .card-title.upper
    .row
      .col-md-6.id-info
        h3 {{a.user_key}}
        h6 {{a.admin1}} / {{a.admin2}} / Polígono {{a.polygon}}

      .col-md-3

      .col-md-3.date-info
        p.small
          | Fecha de creación: {{a.financial_history.created_at | date}}
          | Última modificación: {{a.financial_history.updated_at | date}}
