//- Tarjeta calendario

extends $layout

block action
  +card-btn('date')

block title
  h3(translate='CALENDAR')
  //-
    | .col-xs-4
    |   .btn-group
    |     button.btn.btn-default.btn-sm(type='button', btn-radio="'Diario'", ng-model='calView') Diario
    |     button.btn.btn-default.btn-sm(type='button', btn-radio="'Semanal'", ng-model='calView') Semanal
    |     button.btn.btn-default.btn-sm(type='button', btn-radio="'Mensual'", ng-model='calView') Mensual

block content
  .col-xs-12.calendar
    datepicker.well.well-sm(
      ng-model='dt'
      min-date='minDate'
      show-weeks='false'
    )
