//- Tarjeta cambios

extends $layout

block title
  .col-xs-10
    h3(translate='CHANGELOG')
  
block content
  .list-group
    a.list-group-item(href='#', ng-repeat='entry in a.entries')
      .col-md-12
        h4.list-group-item-heading {{entry.title}}
        p.list-group-item-text {{entry.text}}
