//- Tarjeta evidencia

extends $layout

block action
  +card-btn('evidence')

block title
  h3(translate='EVIDENCE')
  
block content
  .col-xs-12
    table.table.table-hover
      thead
        tr
          th(translate='DATE')
          th(translate='TYPE')
          th(translate='ACTIONS')
      
      tbody
        tr(ng-repeat='file in a.files')
          td {{file.date}}
          td {{file.type}}
          td
            a.btn.btn-link
              fa(name='pencil')
              fa(name='trash')
