//- Tarjeta evidencia

extends $layout

block title
  h3(translate='A.EVIDENCE')
  
block content
  .col-xs-12
    table.table.table-hover
      thead
        tr
          th(translate='A.DATE')
          th(translate='A.TYPE')
          th(translate='A.ACTIONS')
      
      tbody
        tr(ng-repeat='file in a.files')
          td {{file.date}}
          td {{file.type}}
          td
            a.btn.btn-link
              fa(name='pencil')
              fa(name='trash')
