//- Tarjeta facturas

extends $layout

block title
  h3(translate='A.INVOICES')
  
block content
  .col-xs-12
    table.table.table-hover
      thead
        tr
          th(translate='A.DATE')
          th(translate='A.DOC')
          th(translate='A.PROVIDER')
          th(translate='A.AMOUNT')
          th(translate='A.TYPE')
          th(translate='A.STATUS')
          th(translate='A.ACTIONS')
      
      tbody
        tr(ng-repeat='factura in a.facturas')
          td {{factura.date}}
          td {{factura.num}}
          td {{factura.provider}}
          td {{factura.amount}}
          td {{factura.type}}
          td {{factura.status}}
          td
            a.btn.btn-link
              fa(name='pencil')
              fa(name='trash')
