//- Tarjeta facturas

extends $layout

block action
  +card-btn-primary('invoice')

block title
  .col-xs-10
    h3(translate='INVOICES')
  
block content
  .col-xs-12
    table.table.table-hover
      thead
        tr
          th(translate='DATE')
          th(translate='DOCNUM')
          th(translate='PROVIDER')
          th(translate='AMOUNT')
          th(translate='TYPE')
          th(translate='STATUS')
          th(translate='ACTIONS')
      
      tbody
        tr(ng-repeat='factura in a.facturas')
          td {{factura.date}}
          td {{factura.num}}
          td {{factura.provider}}
          td {{factura.amount}}
          td {{factura.type}}
          td {{factura.status}}
          td
            a.btn.btn-link
              fa(name='pencil')
              fa(name='trash')
