.row
  .col-xs-2
    a.btn.btn-xs.btn-link(ng-click='orderBy="user_key"')
      span.small.upper Código
  
  .col-xs-2
    a.btn.btn-xs.btn-link(ng-click='orderBy="admin2"')
      span.small.upper Municipio
  
  .col-xs-2
    a.btn.btn-xs.btn-link(ng-click='orderBy="admin1"')
      span.small.upper Entidad
  
  .col-xs-1
    a.btn.btn-xs.btn-link(ng-click='orderBy="polygon"')
      span.small.upper Polígono
  
  .col-xs-1
    a.btn.btn-xs.btn-link(ng-click='orderBy="budget_breakthrough"')
      span.small.upper Presupuesto
  
  .col-xs-1
    a.btn.btn-xs.btn-link.wide(ng-click='orderBy="completed_goals"')
      span.small.upper Metas
  
  .col-xs-1
    a.btn.btn-xs.btn-link(ng-click='orderBy="total_of_beneficiaries"')
      span.small.upper Beneficiarios

  .col-xs-2
    a.btn.btn-xs.btn-link.disabled.wide
      span.small.upper Acciones
