.row
  .col-xs-2
    a.btn.btn-xs.btn-link
      h6 Código
  
  .col-xs-2
    a.btn.btn-xs.btn-link
      h6 Municipio
  
  .col-xs-2
    a.btn.btn-xs.btn-link
      h6 Entidad
  
  .col-xs-1
    a.btn.btn-xs.btn-link
      h6 Polígono
  
  .col-xs-1
    a.btn.btn-xs.btn-link
      h6 Presupuesto
  
  .col-xs-1
    a.btn.btn-xs.btn-link.wide
      h6 Metas
  
  .col-xs-1
    a.btn.btn-xs.btn-link
      h6 Beneficiarios

  .col-xs-2
    a.btn.btn-xs.btn-link.disabled.wide
      h6 Acciones
