.row.legend
  .col-xs-3
    .row
      .col-xs-1.progress-bar.progress-bar-primary
      .col-xs-2: span.small Comprometido

  .col-xs-3
    .row
      .col-xs-1.progress-bar.progress-bar-info
      .col-xs-2: span.small Devengado

  .col-xs-3
    .row
      .col-xs-1.progress-bar.progress-bar-success
      .col-xs-2: span.small Pagado

  .col-xs-3
    .row
      .col-xs-1.progress-bar.progress-bar-danger
      .col-xs-10: span.small Por ejercer
