.panel.order-by
  .row
    .col-xs-8
      | Ordenar avances por 
      .btn-group
        button.btn.btn-sm.btn-default(btn-radio="'Presupuesto'", ng-model='orderBy') Presupuesto
        button.btn.btn-sm.btn-default(btn-radio="'Metas'", ng-model='orderBy')  Metas
        button.btn.btn-sm.btn-default(btn-radio="'Beneficiarios'", ng-model='orderBy') Beneficiarios 

    .col-xs-2
    
    .col-xs-2
      .btn-group
        button.btn.btn-sm.btn-default(
          btn-radio="'compact'"
          ng-model='displayMode'
        ): i.glyphicon.glyphicon-align-justify
        
        button.btn.btn-sm.btn-default(
          btn-radio="'expanded'"
          ng-model='displayMode'
        ): i.glyphicon.glyphicon-tasks
