//- Base layout (everything converges here)

include modal/upload

.container(
  ng-class='{ expanded: (displayMode == "expanded"), zoomed: zoomed }'
  ng-controller="ActivitiesCtrl"
)
  include $search
  include dashboard
  include $sort
  include activities
  include $pager
