include modal/full
include modal/upload

.container(
  ng-class='{ expanded: (displayMode == "expanded"), zoomed: zoomed }'
  ng-controller="ActivityCtrl"
)
  include $search
  include dashboard
  include $orderby
  include activity

  //- pager.pagination-sm(
    |  boundary-links='true'
    |  first-text='Inicio'
    |  last-text='Final'  
    |  next-text='Siguiente »'
    |  ng-change='pageChanged()'
    |  ng-model='pagination.page'
    |  previous-text='« Anterior'
    |  total-items='pagination.total / pagination.per_page'
    | )
