.jumbotron
  .row
    .col-xs-4
      h3 Avance Global

    .col-xs-2
      .row
        counter(to=444, delay=100)

      .row
        span Actividades

    .col-xs-2
      .row
        counter(to=333, delay=100)

      .row
        span Sin Avance

    .col-xs-2
      .row
        counter(to=222, delay=100)

      .row
        span En proceso

    .col-xs-2
      .row
        counter(to=111, delay=100)
      
      .row
        span Completadas

  .row
    .col-xs-6
      h6 Presupuesto Asignado
      h3 $3,000,000.50

  .row
    .col-xs-12
      progress
        bar(ng-repeat='bar in stacked track by $index', value='bar.value', type='{{bar.type}}')
          span(ng-hide='bar.value < 5') {{bar.value}}%

  include $legend

  .row
    .col-xs-12
      h6 Avances

    .col-xs-6
      progressbar(value='benefs', type='success')

    .col-xs-6
      progressbar(value='goals', type='success')

  .row
    .col-xs-6
      h6 beneficiarios
      
    .col-xs-6
      h6 metas
