.jumbotron
  .row
    .col-xs-4
      h3 Avance Global

    .col-xs-2
      .row
        counter(delay=100) {{D.calculated_values.total_activities}}

      .row
        span Actividades

    .col-xs-2
      .row
        counter(delay=100) {{D.calculated_values.for_reviewing.quantity}}

      .row
        span Sin Avance

    .col-xs-2
      .row
        counter(delay=100) {{D.calculated_values.in_progress.quantity}}

      .row
        span En proceso

    .col-xs-2
      .row
        counter(delay=100) {{D.calculated_values.clean.quantity}}
      
      .row
        span Completadas

  .row
    .col-xs-6
      h6 Presupuesto Asignado
      h3 {{D.calculated_values.budget.total.value | currency}}

  .row
    .col-xs-12
      progress
        bar(ng-repeat='bar in stacked track by $index', value='bar.value', type='{{bar.type}}')
          span(ng-hide='bar.value < 5') {{bar.value}}%

  include $legend

  .row
    .col-xs-12
      h6 Avances

    .col-xs-6
      progressbar(value='benefs', type='success')

    .col-xs-6
      progressbar(value='goals', type='success')

  .row
    .col-xs-6
      h6 beneficiarios
      
    .col-xs-6
      h6 metas
