.row.header
  .col-xs-3
    a.btn.btn-xs.btn-link
      h6 Código
  
  .col-xs-1
    a.btn.btn-xs.btn-link
      h6 Municipio
  
  .col-xs-1
    a.btn.btn-xs.btn-link
      h6 Entidad
  
  .col-xs-1
    a.btn.btn-xs.btn-link
      h6 Polígono
  
  .col-xs-1
    a.btn.btn-xs.btn-link
      h6 Presupuesto
  
  .col-xs-1
    a.btn.btn-xs.btn-link
      h6 Metas
  
  .col-xs-1
    a.btn.btn-xs.btn-link
      h6 Beneficiarios
  
  .col-xs-2.btn-group(role='group', aria-label='Vistas')
    button.btn.btn-default.btn-xs(type='button', ng-click='expand(false)') C
    button.btn.btn-default.btn-xs(type='button', ng-click='expand(true)') E
