.header.row
  .col-xs-2
    h6 Código
  
  .col-xs-1
    h6 Municipio
  
  .col-xs-1
    h6 Entidad
  
  .col-xs-1
    h6 Polígono
  
  .col-xs-2
    h6 Presupuesto
  
  .col-xs-2
    h6 Metas
  
  .col-xs-2
    h6 Beneficiarios
  
  .col-xs-1
    .btn-group(role='group', aria-label='Vistas')
      button.btn.btn-default.btn-xs(type='button', ng-click='expand(false)') C
      button.btn.btn-default.btn-xs(type='button', ng-click='expand(true)') E
