.container(ng-controller="AccordionCtrl")
  label.checkbox
    input(type='checkbox', ng-model='oneAtATime')
    |     Abrir un elemento a la vez
  
  accordion(close-others='oneAtATime', is-open='status.open')
    accordion-group(ng-repeat='group in groups', on-accordion-group-click="{{group.template}}")
      accordion-heading
        .row
          .col-sm-3
            | {{group.code}}
          
          .col-sm-2(ng-hide='{{status.open}}')
            progressbar.small(animate='false', value='group.budget', type='{{progressType(group.budget)}}')
              
          .col-sm-2(ng-hide='{{status.open}}')
            progressbar.small(animate='false', value='group.goals', type='{{progressType(group.goals)}}')
              
          .col-sm-2(ng-hide='{{status.open}}')
            progressbar.small(animate='false', value='group.benefs', type='{{progressType(group.benefs)}}')
          
          .col-sm-3
            i.glyphicon.glyphicon-usd(ng-class="{'disabled': (group.payments < 1)}", tooltip="tooltip")
            i.glyphicon.glyphicon-eye-open(ng-class="{'disabled': !group.notes}", tooltip="tooltip")
            i.glyphicon.glyphicon-magnet(ng-class="{'disabled': !group.visits}", tooltip="tooltip")
          
          //.col-sm-2
          //  .btn-group(role='group', aria-label='Acciones')
          //    button.btn.btn-default.btn-xs(type='button')
          //      i.glyphicon.glyphicon-ok
          //    
          //    button.btn.btn-default.btn-xs(type='button')
          //      i.glyphicon.glyphicon-remove
              
              
        // TODO pagos
        // TODO notes
        // TODO visits
        //i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}")

      h3
        | Nombre del Elemento
      
      button.btn.btn-sm.btn-primary(type='button', ng-click='randomStacked()') Randomizar

      progress
        bar(ng-repeat='bar in stacked track by $index', value='bar.value', type='{{bar.type}}')
          span(ng-hide='bar.value < 5') {{bar.value}}%
