//- Base layout (everything converges here)

include modal/upload

.container(
  ng-class='{ expanded: (displayMode == "expanded"), zoomed: zoomed }'
  ng-controller="ActivitiesCtrl"
)
  include $search
  include $jumbotron
  include $toolbar
  include $accordion
  include $pager
