nav.navbar.navbar-default.navbar-fixed-top(
  ng-controller='ActivityCtrl'
  role='navigation'
)
  .navbar-inner.normal
    .container
      .navbar-header
        button.navbar-toggle.collapsed(
          ng-click='collapsed = !collapsed'
          type='button'
        )
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar

        a.navbar-brand(href='#/')
          include ../assets/img/logo.svg

      .collapse.navbar-collapse(collapse='collapsed')
        ul#nav-links.nav.navbar-nav
          li: a(href='#') Panel de control
          li.active: a(href='#') Actividades
          li: a(href='#') Archivos
        //-
          li.divider-vertical
          
          li
            a(href='#') Reprogramar

          li
            a(href='#') Enviar informe

        //- form.navbar-form.navbar-right(role='search')
          .form-group
            .input-group
              input.form-control(placeholder='Buscar', type='text')
              .input-group-btn
                button.btn.btn-info(type='button')
                  i.glyphicon.glyphicon-search

      .header.toggle.hidden
        include $header
