.row.tools
  .col-xs-12
    button.btn.btn-info.btn-xs(type='button', ng-click='') Reprogramar
    button.btn.btn-info.btn-xs(type='button', ng-click='') Enviar informe

.row.search
  .col-xs-12
    .input-group
      input.form-control(type='text')

      .input-group-btn
        button.btn.btn-info(type='button', ng-click='') Buscar
        button.btn.btn-info(type='button', ng-click='fullSearch = !fullSearch')
          span.glyphicon(ng-class='{"glyphicon-chevron-up": fullSearch, "glyphicon-chevron-down": !fullSearch}')
          span.sr-only

.row.filters(ng-show='fullSearch')
  .col-xs-3
    button.btn.btn-xs.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="false") Entidad

  .col-xs-3
    button.btn.btn-xs.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="false") Municipio

  .col-xs-3
    button.btn.btn-xs.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="false") Polígono

  .col-xs-3
    button.btn.btn-xs.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="false") Status
