//- Full activity view (aka "sandwich mode")

.container.panel.full
  include ../cards/$title
  include ../cards/descripcion_full
  include ../cards/facturas
  include ../cards/evidencia
  include ../cards/cambios
  include ../cards/calendario
