//- Title header (common to most cards)

.card
  .card-title
    .row
      .col-md-6.id-info
        h3 {{activity.user_key}}
        h6 {{activity.admin1}} / {{activity.admin2}} / Polígono {{activity.polygon}}

      .col-md-3

      .col-md-3.date-info
        span.small Fecha de creación:
        br
        span.small Última modificación:
