//- Title header (common to all cards)

.card
  .card-title
    .row
      .col-md-6.id-info
        h3 {{activity.user_key}}
        h6 {{activity.admin1}} / {{activity.admin2}} / Polígono {{activity.polygon}}

      .col-md-3

      .col-md-3.date-info
        p Fecha de creación:
        p Última modificación:
  
  hr
