//- Tarjeta evidencia

extends $layout

block title
  h3 Evidencia
  
block content
  .col-xs-12
    table.table.table-hover
      thead
        tr
          th Fecha
          th Tipo
          th Acciones
      
      tbody
        tr(ng-repeat='file in a.files')
          td {{file.date}}
          td {{file.type}}
          td
            a.btn.btn-link
              fa(name='pencil')
              fa(name='trash')
