//- Tarjeta evidencia

.row
  .col-xs-10
    h3 Evidencia
  
  .col-xs-2
    button.btn.btn-primary.btn-sm(ng-click='openModal("upload")', type='button')
      i.glyphicon.glyphicon-plus-sign
      | Agregar

.row
  .col-xs-12
    table.table.table-hover
      thead
        tr
          th Fecha
          th Tipo
          th Acciones
      
      tbody
        tr(ng-repeat='file in activity.files')
          td {{file.date}}
          td {{file.type}}
          td
            a.btn.btn-link
              i.glyphicon.glyphicon-pencil
              i.glyphicon.glyphicon-trash
