//- Tarjeta facturas

extends $layout

block title
  h3 Contratos / Facturas
  
block content
  .col-xs-12
    table.table.table-hover
      thead
        tr
          th Fecha
          th # Doc
          th Proveedor
          th Monto
          th Tipo
          th Status
          th Acciones
      
      tbody
        tr(ng-repeat='factura in a.facturas')
          td {{factura.date}}
          td {{factura.num}}
          td {{factura.provider}}
          td {{factura.amount}}
          td {{factura.type}}
          td {{factura.status}}
          td
            a.btn.btn-link
              fa(name='pencil')
              fa(name='trash')
