//- Tarjeta facturas

.row
  .col-xs-10
    h3 Contratos / Facturas
  
  .col-xs-2
    button.btn.btn-primary.btn-sm(ng-click='openModal("upload")', type='button')
      fa(name='plus-circle')
      | Agregar

.row
  .col-xs-12
    table.table.table-hover
      thead
        tr
          th Fecha
          th # Doc
          th Proveedor
          th Monto
          th Tipo
          th Status
          th Acciones
      
      tbody
        tr(ng-repeat='factura in a.facturas')
          td {{factura.date}}
          td {{factura.num}}
          td {{factura.provider}}
          td {{factura.amount}}
          td {{factura.type}}
          td {{factura.status}}
          td
            a.btn.btn-link
              fa(name='pencil')
              fa(name='trash')
