//- Title header (common to all cards)

.card
  .card-title
    .row
      .col-md-6.id-info
        h2 {{activity.user_key}} {{activity.human_state_name}}
        h3 {{activity.admin1}} / {{activity.admin2}} / Polígono: {{activity.polygon}}

      .col-md-6.date-info
        p Fecha de creación:
        p Última modificación:
