//- Full activity view (aka "sandwich mode") in modal form

script(type='text/ng-template', id='full.html')
  .modal-header
    button.btn.btn-link.close(type='button', data-dismiss='modal')
      span(aria-hidden='true') &times;
      span.sr-only Cerrar

    h4.modal-title Actividad
    include ../cards/$title

  .modal-body
    .panel
      include ../cards/descripcion_full
      
    .panel
      include ../cards/facturas
      
    .panel
      include ../cards/evidencia
      
    .panel
      include ../cards/cambios
      
    .panel
      include ../cards/calendario

  .modal-footer
    button.btn.btn-default(type='button') Imprimir
    button.btn.btn-default(type='button') Pantalla completa
    button.btn.btn-primary(type='button', data-dismiss='modal') Cerrar
