//- Full activity view (aka "sandwich mode") in modal form

script(type='text/ng-template', id='full.html')
  .modal-header
    button.btn.btn-link.close(type='button', data-dismiss='modal')
      span(aria-hidden='true') &times;
      span.sr-only(translate='CLOSE')

    h4.modal-title(translate='ACTIVITY')
    include ../cards/$title

  .modal-body
    .panel
      include ../cards/details
      
    .panel
      include ../cards/invoices
      
    .panel
      include ../cards/evidence
      
    .panel
      include ../cards/changelog
      
    .panel
      include ../cards/calendar

  .modal-footer
    button.btn.btn-default(translate='PRINT', type='button')
    button.btn.btn-default(translate='FULLSCREEN', type='button')
    button.btn.btn-primary(translate='CLOSE', type='button', data-dismiss='modal')
