doctype html
html(lang="es-mx", ng-app="app")

  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title OPI - Pitágoras

    script(type="text/javascript", src="js/vendor.js")
    script(type="text/javascript", src="js/es.js")
    script(type="text/javascript", src="js/app.templates.js")
    script(type="text/javascript", src="js/app.js")
    script(type="text/javascript", src="js/auto-reload.js")

    link(href="css/app.css", rel="stylesheet")
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/yeti/bootstrap.min.css", rel="stylesheet")

  body(ng-controller="MainCtrl")
    navbar
    main
