script(type='text/ng-template', id='full.html')
  .modal-header
    button.btn.btn-link.close(type='button', data-dismiss='modal')
      span(aria-hidden='true') &times;
      span.sr-only Cerrar

    h4#modalLabel.modal-title Actividad
    include ../cards/$title

  .modal-body
    include ../cards/descripcion_full
    include ../cards/facturas
    include ../cards/evidencia
    include ../cards/cambios
    include ../cards/calendario

  .modal-footer
    button.btn.btn-default(type='button', data-dismiss='modal') Cancelar
    button.btn.btn-primary(type='button', data-dismiss='modal') Cerrar
