//- Main dashboard module used for displaying overall progress


.jumbotron
  .row
    .col-xs-4
      h3(translate='GLOBAL')

    .col-xs-2
      .row
        counter(delay=100) {{$data.calculated_values.total_activities}}

      .row
        span(translate='ACTIONS')

    .col-xs-2
      .row
        counter(delay=100) {{$data.calculated_values.for_reviewing.quantity}}

      .row
        span(translate='FROZEN')

    .col-xs-2
      .row
        counter(delay=100) {{$data.calculated_values.in_progress.quantity}}

      .row
        span(translate='MOVING')

    .col-xs-2
      .row
        counter(delay=100) {{$data.calculated_values.clean.quantity}}
      
      .row
        span(translate='COMPLETED')

  .row
    .col-xs-6
      h6(translate='TOTAL')
      h3 {{$data.calculated_values.budget.total.value | currency}}

  .row
    .col-xs-12
      progress
        bar(ng-repeat='bar in stacked track by $index', value='bar.value', type='{{bar.type}}')
          span(ng-hide='bar.value < 5') {{bar.value}}%

  include $legend

  .row
    .col-xs-12
      h6(translate='PROGRESS')

    .col-xs-6
      progressbar(value='getProgress("benefs")', type='success')

    .col-xs-6
      progressbar(value='getProgress("goals")', type='success')

  .row
    .col-xs-6
      h6(translate='BENEFS')
      
    .col-xs-6
      h6(translate='GOALS')
