//- Icons and labels used as a legend for the multi-value progress-bar.

.row.legend
  .col-xs-3
    .row
      .col-xs-1.progress-bar.progress-bar-primary
      .col-xs-2: span.small(translate='PLEDGED')

  .col-xs-3
    .row
      .col-xs-1.progress-bar.progress-bar-info
      .col-xs-2: span.small(translate='ACCRUABLE')

  .col-xs-3
    .row
      .col-xs-1.progress-bar.progress-bar-success
      .col-xs-2: span.small(translate='DISCHARGED')

  .col-xs-3
    .row
      .col-xs-1.progress-bar.progress-bar-danger
      .col-xs-10: span.small(translate='AVAILABLE')
