//- Activities popovers


script(type='text/ng-template', id='popover-budget.html')
  .row
    .col-xs-2
      span(translate='ASSIGNED')
    .col-xs-1
      span $
    .col-xs-3
      span {{}}

  .row
    .col-xs-2
      span(translate='PLEDGED')
    .col-xs-1
      span $
    .col-xs-3
      span {{}}

  .row
    .col-xs-2
      span(translate='ACCRUABLE')
    .col-xs-1
      span $
    .col-xs-3
      span {{}}

  .row
    .col-xs-2
      span(translate='DISCHARGED')
    .col-xs-1
      span $
    .col-xs-3
      span {{}}

  .row
    .col-xs-2
      span(translate='AVAILABLE')
    .col-xs-1
      span $
    .col-xs-3
      span {{}}
