script(type='text/ng-template', id='popover-budget.html')
  .row
    .col-xs-2
      span(translate='A.ASSIGNED')
    .col-xs-1
      span $
    .col-xs-3
      span {{}}

  .row
    .col-xs-2
      span(translate='A.PLEDGED')
    .col-xs-1
      span $
    .col-xs-3
      span {{}}

  .row
    .col-xs-2
      span(translate='A.ACCRUABLE')
    .col-xs-1
      span $
    .col-xs-3
      span {{}}

  .row
    .col-xs-2
      span(translate='A.DISCHARGED')
    .col-xs-1
      span $
    .col-xs-3
      span {{}}

  .row
    .col-xs-2
      span(translate='A.AVAILABLE')
    .col-xs-1
      span $
    .col-xs-3
      span {{}}
