//- Full activity view (aka "sandwich mode")


.container.panel.full
  include cards/$title
  include cards/details
  hr
  include cards/invoices
  hr
  include cards/evidence
  hr
  include cards/changelog
  hr
  include cards/calendar
