//- Full activity view (aka "sandwich mode")


.container.panel.full
  include cards/$title
  include cards/descripcion_full
  hr
  include cards/facturas
  hr
  include cards/evidencia
  hr
  include cards/cambios
  hr
  include cards/calendario
