//- Single activity view (aka "sandwich mode")


include modal/date
include modal/evidence
include modal/invoice

.single.container.panel
  include cards/$title
  include cards/details
  hr
  include cards/invoices
  hr
  include cards/evidence
  hr
  include $calendar
  hr
  include cards/changelog
