 
.opi-achievement {
	background-image: url('png/achievement.png');
	background-repeat: no-repeat;
}

 
.opi-achievement-alt {
	background-image: url('png/achievement-alt.png');
	background-repeat: no-repeat;
}

 
.opi-actions {
	background-image: url('png/actions.png');
	background-repeat: no-repeat;
}

 
.opi-activities {
	background-image: url('png/activities.png');
	background-repeat: no-repeat;
}

 
.opi-add {
	background-image: url('png/add.png');
	background-repeat: no-repeat;
}

 
.opi-add-file {
	background-image: url('png/add-file.png');
	background-repeat: no-repeat;
}

 
.opi-add-file-alt {
	background-image: url('png/add-file-alt.png');
	background-repeat: no-repeat;
}

 
.opi-budget {
	background-image: url('png/budget.png');
	background-repeat: no-repeat;
}

 
.opi-calendar {
	background-image: url('png/calendar.png');
	background-repeat: no-repeat;
}

 
.opi-calendar-alt {
	background-image: url('png/calendar-alt.png');
	background-repeat: no-repeat;
}

 
.opi-camera {
	background-image: url('png/camera.png');
	background-repeat: no-repeat;
}

 
.opi-camera-add {
	background-image: url('png/camera-add.png');
	background-repeat: no-repeat;
}

 
.opi-cardview {
	background-image: url('png/cardview.png');
	background-repeat: no-repeat;
}

 
.opi-checkmark {
	background-image: url('png/checkmark.png');
	background-repeat: no-repeat;
}

 
.opi-checkmark-fill {
	background-image: url('png/checkmark-fill.png');
	background-repeat: no-repeat;
}

 
.opi-collapsed {
	background-image: url('png/collapsed.png');
	background-repeat: no-repeat;
}

 
.opi-comment {
	background-image: url('png/comment.png');
	background-repeat: no-repeat;
}

 
.opi-crossmark {
	background-image: url('png/crossmark.png');
	background-repeat: no-repeat;
}

 
.opi-dashboard {
	background-image: url('png/dashboard.png');
	background-repeat: no-repeat;
}

 
.opi-edit {
	background-image: url('png/edit.png');
	background-repeat: no-repeat;
}

 
.opi-eye {
	background-image: url('png/eye.png');
	background-repeat: no-repeat;
}

 
.opi-feedback {
	background-image: url('png/feedback.png');
	background-repeat: no-repeat;
}

 
.opi-folder {
	background-image: url('png/folder.png');
	background-repeat: no-repeat;
}

 
.opi-id {
	background-image: url('png/id.png');
	background-repeat: no-repeat;
}

 
.opi-info {
	background-image: url('png/info.png');
	background-repeat: no-repeat;
}

 
.opi-lightbolt {
	background-image: url('png/lightbolt.png');
	background-repeat: no-repeat;
}

 
.opi-list {
	background-image: url('png/list.png');
	background-repeat: no-repeat;
}

 
.opi-location {
	background-image: url('png/location.png');
	background-repeat: no-repeat;
}

 
.opi-lock {
	background-image: url('png/lock.png');
	background-repeat: no-repeat;
}

 
.opi-mail {
	background-image: url('png/mail.png');
	background-repeat: no-repeat;
}

 
.opi-next {
	background-image: url('png/next.png');
	background-repeat: no-repeat;
}

 
.opi-picture {
	background-image: url('png/picture.png');
	background-repeat: no-repeat;
}

 
.opi-pictures {
	background-image: url('png/pictures.png');
	background-repeat: no-repeat;
}

 
.opi-profile {
	background-image: url('png/profile.png');
	background-repeat: no-repeat;
}

 
.opi-questionmark {
	background-image: url('png/questionmark.png');
	background-repeat: no-repeat;
}

 
.opi-raceflag {
	background-image: url('png/raceflag.png');
	background-repeat: no-repeat;
}

 
.opi-remove {
	background-image: url('png/remove.png');
	background-repeat: no-repeat;
}

 
.opi-return {
	background-image: url('png/return.png');
	background-repeat: no-repeat;
}

 
.opi-search {
	background-image: url('png/search.png');
	background-repeat: no-repeat;
}

 
.opi-settings {
	background-image: url('png/settings.png');
	background-repeat: no-repeat;
}

 
.opi-star {
	background-image: url('png/star.png');
	background-repeat: no-repeat;
}

 
.opi-trashbin {
	background-image: url('png/trashbin.png');
	background-repeat: no-repeat;
}

 
.opi-upload {
	background-image: url('png/upload.png');
	background-repeat: no-repeat;
}

 
.opi-user {
	background-image: url('png/user.png');
	background-repeat: no-repeat;
}

 
.opi-warning {
	background-image: url('png/warning.png');
	background-repeat: no-repeat;
}

